@media only screen and (max-width: 1150px) {
    
}
    /*
    
    .photo-segment .one-reference {
        margin-left: 10px;
        margin-right: 10px;
    } 
    
    .col.span-1-of-3.one-reference {
        width: 48%; 
        margin-left: 10px;
    }
    
    .one-reference:nth-child(3) {
        display: none;
    }
    

    .pizza-example img {
        max-width: 96%; 
        margin-left: 10px;
        margin-right: 10px;
    }

    .pizza-example .span-1-of-2 {
        width: 48%;
    }


*/